@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");
@import "tailwindcss";

@font-face {
    font-family: "ReservationWide";
    src: url(./shared/assets/fonts/Reservation-Wide-Regular.ttf)
        format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "ReservationWide";
    src: url(./shared/assets/fonts/Reservation-Wide-Bold.ttf) format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "ReservationWide";
    src: url(./shared/assets/fonts/Reservation-Wide-Black.ttf)
        format("truetype");
    font-weight: 900;
}

@theme {
    --font-reservation: ReservationWide, sans-serif;
    --font-syne: Syne, sans-serif;
    --font-montserrat: Montserrat, sans-serif;
    --font-roboto: Roboto, sans-serif;
}

@utility scrollbar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }
}

:root {
    margin: 0;
    padding: 0;
    color-scheme: light;
}

* {
    box-sizing: border-box;
    /* font-family: ReservationWide, Arial, sans-serif; */
}
